/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/YekanBakhFaNum-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/YekanBakhFaNum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: 'YekanBakhFaNum', sans-serif;
}

.animate-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0.95;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.animate-circular {
    animation: circular-motion 10s ease-in-out infinite;
}

@keyframes circular-motion {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(var(--p, 10rem), 0) scale(1.5);
    }
    50% {
        transform: translate(var(--p, 10rem), var(--p, 10rem)) scale(1.2);
    }
    75% {
        transform: translate(0, var(--p, 10rem)) scale(1.4);
    }
}